@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url('https://wallpapers.com/images/featured-full/pokemon-stadium-dqqp686gjn57ka0u.jpg');
    background-color: #2471c9;
    background-attachment: fixed;
}

h1{
    font-family: 'Pokemon Solid', sans-serif;
    color: yellow;
    text-align: center;
    font-size: 5rem;
    text-shadow: 
    -5px -5px 0px blue,
    -5px 5px 0px blue,
    5px -5px 0px blue,
    5px  0px 0px blue;
}

.content{
    width: 100vw;
    padding: 1rem;
    background-color:#00ccff;
    border-radius: 1rem;

} 

 @media screen and (min-width: 992px){
    .content{
     max-width: 1600px;
       margin: 0 auto;
       height: 1rem auto;
       border-radius: 1rem;
        margin-top: 1rem;
    }
 }

