* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #2471c9;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 3rem;
}

.content{
    width: 100vw;
    padding: 1rem;
    background-color: #48adff;
    border-radius: 1rem;

}

 @media screen and (min-width: 992px){
    .content{
     max-width: 1600px;
       margin: 0 auto;
       height: 1rem auto;
       border-radius: 1rem;
        margin-top: 1rem;
    }
 }

