* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content{
    padding: 1rem
}

.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.pokemon{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: #79d0b0;
    color: #fff;
    border-radius: 1rem;
}

.number{
    color: #000;
    text-align: right;
    opacity: .3;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail img{
    max-width: 120%;
    height: 120%;
}

